body {
    font-family: monospace;
    margin: 0;
    background-color: #0A192F;
    color: #FFF;
}

header {
    background-color: #0A192F;
    box-shadow: 2px 2px 5px white;
    padding: 10px;
    text-align: right;
    position: sticky;
    top: 0;
}

header h1 {
    font-size: 2em;
    font-weight: bold;
    color: #00A8CC;
    display: flex;
    margin-left: 2%;
}

nav ul {
    font-size: 1.2rem;
    list-style: none;
    margin-top: 7px;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #00A8CC;
    text-decoration: none;
    font-weight: 800;
}

nav ul li a:hover {
    color: #FFF;
}

.intro {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 20px;
}

.intro-text {
    max-width: 600px;
}

.intro h2,
.intro h1 {
    margin: 10px 0;
    font-size: 25px;
    color: #00A8CC;
}

.intro p {
    font-size: 20px;
    text-align: justify;
    font-weight: 900;
}

.buttons {
    margin: 20px 0;
}

button {
    background-color: #00A8CC;
    border: none;
    color: #FFF;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
}

button.lets-talk {
    background-color: transparent;
    border: 2px solid #00A8CC;
}

.social-media {
    margin-top: 20px;
}

.social-media a {
    margin: 0 10px;
    display: inline-block;
}

.social-media i {
    font-size: 30px;
    color: #00A8CC;
}

.intro img {
    max-width: 450px;
    border-radius: 30px;
    margin-right: 8%;
}
